body {
	font-family: Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	background-image:url(../images/background.jpg);
	background-position:center center;
	background-attachment:fixed;	
}

/**Navigation**/
#navigation {
	position:fixed;
	width:100%;
	background-color:rgba(255,255,255,0.85);
	bottom:0;
	left:0;
	display:block;
	padding:0;
	margin:0;
	text-align:center;
	z-index:100;	
}

.icon {
	min-width:17%;
	padding:0;
	position:relative;
	color:#000;
	text-decoration:none;
	font-size:12px;
	display:inline-block;
	margin:0;	
}

.icon:before {
	content: "";
	display:block;
	padding-top:60%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:auto 100%;	
}

#sales:before {
	background-image:url(../images/sale.svg);	
}

#list:before {
	background-image:url(../images/list.svg);	
}

#shops:before {
	background-image:url(../images/shop.svg);	
}

#bbq:before {
	background-image:url(../images/bbq.svg);	
}

#more:before {
	background-image:url(../images/more.svg);	
}

/**Inhals Klassen und IDs**/
#logo {
	background-image:url(../images/logo.svg);
	background-repeat:no-repeat;
	background-size:100% auto;
	background-position:center center;
	width:40%;
	height:80%;
	position:absolute;
	left:30%;
	top:0;
	display:block; 	
}

@media only screen and (max-width:400px) {
	#list:before {
		background-position:center 8px;
		background-size: 50% auto;	
	}
}

@media only screen and (min-width:601px) {
	#navigation {
		max-height: 60px;	
	}
	
	.icon {
		height:20px;
		padding-top:30px;
		min-width:none;
		width:auto;
		background-position: center top;
		background-size: auto 50%;
		background-repeat:no-repeat;
		margin-top:10px;	
	}
	
	.icon:before {
		padding-top: 0;	
	}
	
	#sales {
		background-image:url(../images/sale.svg);	
	}
	
	#list {
		background-image:url(../images/list.svg);	
	}
	
	#shops {
		background-image:url(../images/shop.svg);	
	}
	
	#bbq {
		background-image:url(../images/bbq.svg);	
	}
	
	#more {
		background-image:url(../images/more.svg);	
	}
}